body{
    background-color: hotpink;
}
.i1{
    height: 200px;
    width: 200px;
    border-radius: 30%;
}
.i1:hover{
    border: 3px solid orange;
}
.i2{
    height: 200px;
    width: 200px;
    border-radius: 30%;
    position: relative;
    left: 100px;
}
.i2:hover{
    border: 3px solid orange;
}
.i3{
    height: 200px;
    width: 200px;
    border-radius: 30%;
    position: relative;
    left: 250px;
}
.i3:hover{
    border: 3px solid orange;
}
.songs{
    padding-top: 30px;
}